<div class="container my-5 pb-4">
    <h2 class="fotn-weight-extra-bold mb-1 text-center">
        <span class="font-weight-bold text-3 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" data-appear-animation-duration="750" style="animation-delay: 600ms;">{{ 'Brand-Slider.Our Partner'|_ }}</span>
    </h2>
    <div class="row text-center mt-5">
        <div class="owl-carousel owl-theme mb-0"
             data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 5}, '1200': {'items': 5}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
            <div>
                <img class="img-fluid opacity-2" src="{{'assets/images/ezpos.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid opacity-2" src="{{'assets/images/ezordernow.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid opacity-2" src="{{'assets/images/pax.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid opacity-2" src="{{'assets/images/firstdata.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid opacity-2" src="{{'assets/images/firserv.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid opacity-2" src="{{'assets/images/go2pos.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid opacity-2" src="{{'assets/images/tsys.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid opacity-2" src="{{'assets/images/go3.png' | theme}}" alt="">
            </div>
            <div>
                <img class="img-fluid opacity-2" src="{{'assets/images/iconpayments.png' | theme}}" alt="">
            </div>
        </div>
    </div>
</div>